# This is Git's per-user configuration file.
[core]
  editor = code --wait
  ignorecase = false
[user]
  name = matt.huh
  email = matt.huh@outlook.com
[alias]
  adco = !git add -A && git commit -m
  amco = !git add -A && git commit --amend --no-edit
  c = commit
  ch = checkout
  f = fetch --all --prune
  l = log --graph --date=format-local:'%Y-%m-%d %H:%M:%S' --pretty='%C(auto)%h %d %C(bold)%s%Creset %C(bold blue)<%cn>%Creset %C(dim)%cd%Creset'
  pd = push downstream
  pu = pull upstream
  pom = pull origin master --rebase
  pod = pull origin dev --rebase
  ra = rebase --abort
  rc = rebase --continue
  ri = rebase -i
  s = status
  sta = stash apply
  std = stash drop
  stl = stash list
  stp = stash push -a -m
